


a {
    color: #0E2560;
}
h2 {
    margin-bottom: 1em;
}
.passage-audio {
    height: 1em;
}
#passage-audio {
    width: 100%;
    max-height: 2em;
}
#passage-text.speaking {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.autofocus-current-word,
.playback-rate {
    font-size: smaller;
}
.autofocus-current-word label,
.playback-rate label {
    font-weight: bold;
}
q {
    quotes: "â€œ" "â€" "â€˜" "â€™";
}
.section-heading {
    display: none;
}
.passage p {
    line-height: 1.4em;
}
.verse-start {
    line-height: 0;
}
.initialized span[data-begin]:focus,
.initialized span[data-begin]:hover {
    background-color: yellow;
	
	color: black;
}
.initialized span[data-begin].speaking {
    
    background-color: yellow;
	
	color: black;
}
.initialized span[data-begin] {
    cursor: pointer;
}
.error {
    color: red;
}

article > footer {
    border-top: solid 1px red;
    padding-top: 0.3em;
    margin-top: 0.3em;
}

footer {
    margin-bottom: 0.5em;
    line-height: 1.4em;
    font-size: small;
}
footer img {
    vertical-align: text-bottom;
}

